body {
    font-family: Arial, sans-serif;
    background-color: #f4c4f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #111;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],input[type="email"],textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: #a238ee;
    color: #0a5369;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0ce349;
}

.checkbox {
    display: flex;
    align-items: center;
    font-size: 14px;
}
h1{
  color: #076c0d;
}
